#title /*dit is alles voor het logo */{
    margin: 0%;
    display: flex;
    height: 10%;
    width: 100%;
    background-color: gold;
    justify-content: center;
    position: sticky;
    top: 0%;  
}
#nav { /*Navigatie balk geordend + kleur*/
    margin: 0%;
    display: flex;
    justify-content: space-evenly;
    height: 6%;
    width: 100%;
    background-color: lightyellow;
    position: sticky;
    top: 10%;
}
#copyright { /*Bevat alle styling voor de copyright bar*/
    margin: 0%;
    height: 3%;
    width: 100%;
    display: flex;
    position: fixed;
    bottom: 2%;
    margin: 0%;
    font-size: small;
    justify-content: space-evenly;
}
html ,body { /*Zorgt dat de boddy geen stukken wit overheeft*/
    height: 100%;
    width: 100%;
    margin: 0%;
}
#boxIndex { /*Bevat ordent de informatie en het plaatje op de startpagina*/
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    justify-content: center;
}
#InfTek { /*Styling beginpagina tekst*/
    padding: 3%;
    margin: 5%;
    background-color: rgba(189, 91, 10, 0.623);
    width: 12%;
    height: 25%;
    border-radius: 2%;
    font-size: large;
}
#ProdBox { /*Bevat alle products*/
    margin: 8%;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}
.Products { /*tag omn de producten allemaal te stylen*/
    position: relative;
    margin: 4%;
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    border: 1px solid gold;
    background-color: lightgoldenrodyellow;
    height: 30%;
    width: 15%;
}
.Linkingsets { /*Verwijdert de underlining en maakt de links in de nav bar zwart*/
    color: black;
    text-decoration: none;
}
#CartBoxGreater { /*Ordert alle CartBoxLessers*/
    margin: 4%;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.CartBoxLesser { /*zet de producten in de winkelwagen in de correcte volgorde*/
    display: flex;
    margin: 3%;
    height: 10%;
    width: 80%;
    border: 1px solid black;
    text-align: center;
    justify-content: space-evenly;
}
.CartItem { /*zorgt dat de naam van het product helemaal links staat*/
    display: flex;
    justify-content: flex-start;
    width: 40%;
}
.CartMoney { /*Zet het bedrag helemaal rechts*/
    display: flex;
    justify-content: flex-end;
}
#atsign { /*geeft de email een gele kleur*/
    color: #f3a701f3;
}
#AVO { /*geeft aan dat de algemene voorwaarden in de helpdesk geen onderlijning heeft*/
    text-decoration: none;
}
#CentAll { /*Zorgt dat de informatie in hert midden staat*/
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
}
.ProductImg { /*Geeft stijling aan de plaatjes bij producten*/
    height: 100%;
    width: 100%;
    margin: 0%;
}
#OOMain { /*Zet de informatie van over ons in het midden*/
    display: flex;
    justify-content: center;
}
#InfPic { /*geeft styling aan het plaatje op de startpagina*/
    padding: 3%;
    margin: 5%;
    width: 12%;
    height: 25%;
    border-radius: 2%;
    font-size: large;
}
.Pm { /*Geeft styling aan de plus en min van de winkelwagen*/
    display: flex;
    height:80%;
    width: 40%;
}