#title {
    margin: 0%;
    display: flex;
    height: 10%;
    width: 100%;
    background-color: gold;
    justify-content: center;
    position: sticky;
    top: 0%;
    
}
#nav {
    margin: 0%;
    display: flex;
    justify-content: space-evenly;
    height: 6%;
    width: 100%;
    background-color: lightyellow;
    position: sticky;
    top: 10%;
}
#copyright {
    margin: 0%;
    height: 3%;
    width: 100%;
    display: flex;
    position: fixed;
    bottom: 2%;
    margin: 0%;
    font-size: small;
    justify-content: space-evenly;
}
html ,body {
    height: 100%;
    width: 100%;
    margin: 0%;
}
#box {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    justify-content: center;
}
.info {
    padding: 10%;
    margin: 5%;
    background-color: rgb(189, 90, 10);
    width: 12%;
    height: 25%;
}
#ProdBox {
    margin: 8%;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}
.Products {
    position: relative;
    margin: 4%;
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    border: 1px solid gold;
    background-color: lightgoldenrodyellow;
    height: 30%;
    width: 15%;
}
.Linkingsets {
    color: black;
    text-decoration: none;
}
#CartBoxGreater {
    margin: 8%;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.CartBoxLesser {
    margin: 3%;
    height: 10%;
    width: 80%;
    border: 1px solid black;
}
.CartItem {
    display: flex;
    justify-content: left;
}
.CartAmount {
    display: flex;
    justify-content: right;
}